
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
    <img class="d-block w-100" src="/src/assets/img/lampara.jpg" alt="First slide">
    <div class="carousel-caption">
      <h5>ARC FLOOR LAMP</h5>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
      <button class="btn btn-default btn-large">SHOP NOW</button>
    </div>
  </div>
  <div class="carousel-item">
    <img class="d-block w-100" src="/src/assets/img/silla.jpg" alt="Second slide">
    <div class="carousel-caption">
      <h5>AWESOME DSR CHAIR</h5>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
      <button class="btn btn-default btn-large">SHOP NOW</button>
    </div>
  </div>
</div>
<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
  <span class="fa fa-chevron-left fa-2x" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
  <span class="fa fa-chevron-right fa-2x" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>