.carousel .slide
    width: 100% !important
    position: absolute !important

.carousel-control-prev span
    color:  #3f3f3f
    left: 0px
    position: absolute

.carousel-control-next span
    color:  #3f3f3f
    right: 0px
    position: absolute

.carousel-inner
    width: 100% !important

.carousel-caption
    width: 60%
    font-family: Lato, sans-serif
    top: 50% !important
    margin-left: 130px
    background-color: transparent
    bottom: auto
    -webkit-box-sizing: border-box
    box-sizing: border-box
    left: 0
    opacity: 1
    padding: 0
    position: absolute
    top: 50%
    text-align: left

.carousel-caption h5
    color: #3f3f3f
    font-size: 65px
    font-weight: 700

.carousel-caption p
    color: #7e7e7e
    font-size: 18px
    line-height: 28px
    font-weight: 200   

.carousel-caption .btn
    color: #ffffff
    background-color: #383838
    font-family: Montserrat,sans-serif
    font-size: 13px
    font-weight: 500
    height: 44px
    padding: 10px 50px
    margin-left: 10px



    