$color-negro: #000000;
$color-blanco: #ffffff;
$gris-oscuro: #808080;
$gris-claro: #3f3f3f;
$gris-mas-claro: #7a7a7a;
$font1: Catamaran,sans-serif;

.content-product
    width: 100%

.content-product .card
    display: inline-block
    width: 23%
    margin-right: 2%
    margin-bottom: 40px

button.btn-wish
    background: $color-negro
    color: $color-blanco
    position: absolute
    top: 10px
    left: 10px
    display: none
    border: 0
    
.buttons-product
    background: $color-blanco
    bottom: 70px !important
    position: absolute
    width: 100%
    bottom: 0px
    display: none
    text-align: center

.buttons-product button
    background: transparent
    border: 0px
    color: $gris-oscuro

.buttons-product button:hover
    color: $gris-claro

.buttons-product .btn-50
    width: 45%
    padding: 2.5% 20px 2.5% 2px

.buttons-product button:first-child
    border-style: solid
    border-right: 1px solid #555

.card-img
    padding-bottom: 0px

.card-img:hover > .buttons-product, .card-img:hover > .btn-wish
    display: block
    
.card-body .card-title
    display: block
    font-family: $font1
    font-size: 16px
    font-weight: 600
    margin-bottom: 6px

.card-body .card-title a
    color: $gris-mas-claro
    text-decoration: none

.card-body .card-title a:hover
    color: $gris-claro

.card-body .details
    width: 100%

.card-body .details .btn-50
    width: 50%

.card-body .details .price
    text-align: left
    color: $gris-mas-claro
    width: 50%
    float: left

.card-body .details .points
    text-align: right
    width: 50%
    float: right