<div class="content-product">
<div class="card" *ngFor="let producto of productos">
  <div class="card-img">
    <button class="btn-wish rounded-circle bg-dark"><i class="fa fa-heart"></i></button>
    <img class="card-img-top" src="{{ producto.image }}" alt="">
    <div class="buttons-product">
      <button class="btn-quick btn-50"><i class="fa fa-eye"></i> VIEW</button>
      <button class="btn-add-cart btn-50"><i class="fa fa-shopping-cart"></i> ADD CART</button>
    </div>
  </div>
  <div class="card-body">
    <p class="card-title"><a href="#">{{ producto.name }}</a></p>
    <div class="details">
      <span class="price btn-50">€ {{ producto.price }}</span>
      <span class="points btn-50"> 
        <i *ngFor="let puntos of producto.points" class="fa fa-star text-warning"></i>
      </span>
    </div>
  </div>
</div>
</div>