$font-stack: Lato, sans-serif;
$font2: Catamaran,sans-serif;
$primary-color: #333;
$sin-border: 0;

.navbar
    width: 100%
    font: 100% $font-stack
    background-color: #ffffff !important
    padding-bottom: 0

.navbar-brand
    margin-left: 85px

.navbar-nav
    margin-right: 70px

.navbar-nav .icons-menu li
    padding-right: 10px
    margin-right: 5px

#menu2 .nav-item a
    font-size: 18px

#menu1 .nav-item
    padding-right: 15px

#menu1 .nav-item .dropdown-menu
    min-width: 200px
    width: auto

#menu1 .nav-item .dropdown-item
    display: block
    color: #a3a3a3
    font-family: $font2
    font-size: 12px
    font-weight: 500
    line-height: 20px

#menu1 .nav-item .dropdown-item i
    color: $primary-color
    display: none

#menu1 .nav-item .dropdown-item:hover
    color: $primary-color
    background: transparent

#menu1 .nav-item .dropdown-item:hover > .icono-listado
    display: inline

#menu2
    padding-right: 80px
    margin-right: 60px

.navbar .collapse .navbar-collapse ul
    width: auto !important
    text-align: right !important

.collapse
    margin: 0
    margin-right: 50px
    width: auto !important

.separator
    padding-left: 20px
    padding-right: 20px

.nav-link
    color: #666
    font-family: $font2
    font-size: 14px
    font-weight: 600
    line-height: 20px
    padding: 40px 0

.fixed
    width: 100% !important
    position: fixed !important

#menu1 .dropdown:hover > .dropdown-menu 
  display: block

.dropdown-menu
    border-radius: 0
    margin-top: 0px
    border-top: 0
    padding: 10px


#navbarDropdownBuscar
    padding-right: 0px

#navbarDropdownBuscar .dropdown-menu
    margin-top: -10px

.nav-link .dropdown-toggle i
    font-size: 15px !important

div.dropdown-menu div.dropdown-cart
    width: 400px
    left: 0px !important

.badge-cart
    position: relative
    padding: 3px
    width: 15px
    height: 15px
    top: -10px
    right: 1px
    background-color: $primary-color
    font-size: 11px
    color: white

#dropdown-cart
    padding: 10px
    margin-left: -300px
    width: 400px

#table-cart
    color: #3f3f3f
    font-family: Montserrat, sans-serif

#table-cart tbody tr td i
    margin-top: 10px

.dropdown-cart-footer
    width: 100%

.dropdown-cart-footer p.title
    width: 45%
    margin-left: 5%
    float: left
    left: 0px

.dropdown-cart-footer p.total
    width: 45%
    margin-right: 5%
    float: right
    left: 0px
    text-align: right

.dropdown-cart-footer p:first-child
    text-align: left

.dropdown-cart-footer button
    border-radius: 0
    width: 100%
    background-color: $primary-color
    color: white
    padding: 10px