<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/src/assets/img/logo.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- -->
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav" id="menu1">
      <li class="nav-item dropdown">
        <a class="nav-link" id="navbarDropdown" role="button" data-hover="dropdown" aria-haspopup="false" aria-expanded="false">
          HOME
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"><i class="fa fa-minus icono-listado"></i> HOME ONE</a>
          <a class="dropdown-item" href="#"><i class="fa fa-minus icono-listado"></i> HOME TWO</a>
          <a class="dropdown-item" href="#"><i class="fa fa-minus icono-listado"></i> HOME THREE</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" id="navbarDropdown2" role="button" data-hover="dropdown" aria-haspopup="false" aria-expanded="false">
          SHOP
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"><i class="fa fa-minus icono-listado"></i> SHOP</a>
          <a class="dropdown-item" href="#"><i class="fa fa-minus icono-listado"></i> PRODUCT DETAILS</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" id="navbarDropdown3" role="button" data-hover="dropdown" aria-haspopup="false" aria-expanded="false">
          PAGES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"><i class="fa fa-minus icono-listado"></i> CART</a>
          <a class="dropdown-item" href="#"><i class="fa fa-minus icono-listado"></i> CHECKOUT</a>
          <a class="dropdown-item" href="#"><i class="fa fa-minus icono-listado"></i> LOGIN</a>
          <a class="dropdown-item" href="#"><i class="fa fa-minus icono-listado"></i> REGISTER</a>
          <a class="dropdown-item" href="#"><i class="fa fa-minus icono-listado"></i> WISHLIST</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" id="navbarDropdown4" role="button" data-hover="dropdown" aria-haspopup="false" aria-expanded="false">
          BLOG
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"><i class="fa fa-minus icono-listado"></i> BLOG</a>
          <a class="dropdown-item" href="#"><i class="fa fa-minus icono-listado"></i> BLOG DETAILS</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACT</a>
      </li>
    </ul>
    <div class="separator"></div>
    <ul class="navbar-nav icons-menu" id="menu2">
      <li class="nav-item dropdown" id="navbarDropdownBuscar">
        <a class="nav-link" data-toggle="dropdown" role="button">
          <i class="fa fa-search"></i>
        </a>
        <div class="dropdown-menu">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="" aria-label="">
              <div class="input-group-append">
                <button class="btn btn-default" type="button"><i class="fa fa-arrow-right"></i></button>
              </div>
            </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown">
          <i class="fa fa-cog"></i>
        </a>
        <div class="dropdown-menu pull-left" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">LOG IN</a>
          <a class="dropdown-item" href="#">REGISTER</a>
          <a class="dropdown-item" href="#">MY ACCOUNT</a>
          <a class="dropdown-item" href="#">WISH LIST</a>
          <a class="dropdown-item" href="#">CHECKOUT</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown">
          <i class="fa fa-shopping-cart"></i>
          <span class="badge-cart rounded-circle">&nbsp;2&nbsp;</span>
        </a>
        <div id="dropdown-cart" class="dropdown-menu dropdown-cart pull-left">
          <table id="table-cart" class="table table-condensed">
            <tbody>
              <tr>
                <td><img src="http://placekitten.com/50/50"></td>
                <td>
                  <b>Le Parc Minotti Chair</b>
                  <p>1 x £9.00</p>
                </td>
                <td>
                  <i class="fa fa-trash"></i>
                </td>
              </tr>
              <tr>
                  <td><img src="http://placekitten.com/50/50"></td>
                  <td>
                    <b>DSR Eiffel Chair</b>
                    <p>1 x £9.00</p>
                  </td>
                  <td>
                    <i class="fa fa-trash"></i>
                  </td>
              </tr>
            </tbody>    
          </table>
          <br>
          <div class="dropdown-cart-footer">
            <p class="title">TOTAL</p><p class="total">£18.00</p>
            <button class="btn btn-default btn-large">CHECK OUT</button>
          </div>
        </div>
      </li>
    </ul>

  </div>
</nav>
<br><br><br>