<br><br>
<div id="div-category">
  <div class="col-xs-8">
    <ul id="menu-category" class="nav">
      <li class="nav-item">
        <a class="nav-link active">ALL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">CHAIR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">TABLE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">HOME DECOR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">LIGHTING</a>
      </li>
    </ul>
  </div>
  <div class="col-xs-4">
    <ul id="menu-filter" class="nav col-xs-4">
      <li class="nav-item">
        <a (click)="showFilterForm()" class="nav-link">FILTER</a>
      </li>
    </ul>
  </div>
</div>
<br><br>
<div *ngIf="show_filter_form" class="col-xs-12 shadow-sm p-3 mb-5 bg-white rounded" id="div-filter">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="title">SORT BY</div>
        <div class="content">
          <div class="row">
            <div class="col-12">
              <div class="nav flex-column nav-pills" id="filter-sort" role="tablist" aria-orientation="vertical">
                <a class="nav-link" role="tab">Default</a>
                <a class="nav-link" role="tab">Popularity</a>
                <a class="nav-link" role="tab">Average Rating</a>
                <a class="nav-link" role="tab">Newness</a>
                <a class="nav-link" role="tab">Price: Low To High</a>
                <a class="nav-link" role="tab">Price: High To Low</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="title">FILTER BY COLOR</div>
        <div class="content">
          <div class="row">
            <div class="col-12">
              <div class="nav flex-column nav-pills" id="filter-color" role="tablist" aria-orientation="vertical">
                <a class="nav-link" role="tab"><i class="fa fa-circle black"></i> Black</a>
                <a class="nav-link" role="tab"><i class="fa fa-circle brown"></i> Brown</a>
                <a class="nav-link" role="tab"><i class="fa fa-circle orange"></i> Orange</a>
                <a class="nav-link" role="tab"><i class="fa fa-circle red"></i> Red</a>
                <a class="nav-link" role="tab"><i class="fa fa-circle yellow"></i> Yellow</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="title">PRODUCTS TAGS</div>
        <div class="content">
          <div class="row">
            <div class="col-12">
              <div class="nav tags" id="filter-tags" role="tablist" aria-orientation="horizontal">
                <a class="nav-link" role="tab">New,</a> <a class="nav-link" role="tab">Brand,</a>
                <a class="nav-link" role="tab">Black,</a> <a class="nav-link" role="tab">White,</a> 
                <a class="nav-link" role="tab">Chire,</a> <a class="nav-link" role="tab">Table,</a>  
                <a class="nav-link" role="tab">Lorem,</a> <a class="nav-link" role="tab">Ipsum,</a>                  
                <a class="nav-link" role="tab">Dolor,</a> <a class="nav-link" role="tab">Sit,</a> 
                <a class="nav-link" role="tab">Amet</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="title">FILTER BY PRICE</div>
        <div class="content">
          
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>

<div class="div-10">
  <app-list></app-list>
</div>