$font1: Catamaran,sans-serif;
$gris-oscuro: #818181;
$otro-gris: #8d8d8d;

#div-category #menu-category
    left: 0px
    float: left
    vertical-align: middle
    display: inline-flex

#div-category #menu-category li a
    font-family: $font1
    font-size: 16px
    font-weight: 700
    letter-spacing: 0.5px
    color: $gris-oscuro
    margin-left: 15px

#div-category #menu-filter
    right: 0px
    float: right
    text-align: right !important

#div-category #menu-filter li a
    font-family: $font1
    font-size: 16px
    font-weight: 700
    letter-spacing: 0.5px
    color: $gris-oscuro
    margin-left: 15px

#div-filter .container
    width: 80% !important
    margin-left: 10%
    padding: 2%
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1)
    min-width: 80%

#div-filter .container .row .col-sm .title
    color: 
    font-size: 13px
    padding-bottom: 7px
    font-weight: 600

.container .row .col-sm .content .nav .nav-link
    font-family: Catamaran,sans-serif
    color: #a6a6a6
    font-size: 13px
    line-height: 25px

.container .row .col-sm .content .nav .nav-link:hover
    color: #3f3f3f
    cursor: pointer

i.black
    color: black
i.brown
    color: brown
i.orange
    color: orange
i.red
    color: red
i.yellow
    color: yellow

.range-slider .info
    display: none


.stepBarClass 
    width: 90%
    height: 10px
    background: lightgray
    border-radius: 5px
    
.stepSliderClass
    width: 20px
    height: 20px
    background: lightgray
    border-radius: 50%
    border: 1px solid royalblue
    bottom: -50% !important
    
.stephighlightClass
    background: royalblue

.div-10
    width: 90%
    margin-left: 5%
    position: relative
    padding-bottom: 50px